.switch {
  position: relative;
  display: inline-block;
  width: $spacing-4;
  height: $spacing-3;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $grey-400;
  border-radius: 99rem;
  transition: $transition-duration;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  bottom: 0.1rem;
  left: 0.1rem;
  background-color: white;
  border-radius: 99rem;
  transition: $transition-duration;
}

input:checked + .slider {
  background-color: $primary-500;
}

input:focus + .slider {
  box-shadow: 0px 0px 1px $primary-500;
}

input:checked + .slider:before {
  transform: translateX(0.9rem);
}

.max-w-60ch {
  max-width: 60ch;
}

.accordion {
  input[name="accordion-input"] {
    display: none;
    ~ label {
      cursor: pointer;
      user-select: none;
      &:after {
        content: "+";
        color: $grey-400;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: $spacing-2;
        font-size: $text-xl;
      }
    }
    ~ .accordion-content {
      display: none;
    }
  }

  input[name="accordion-input"]:checked {
    ~ label {
      &:after {
        content: "-";
        font-size: $text-2xl;
      }
    }
    ~ .accordion-content {
      display: block;
    }
  }
}

.clip-path-trapezoid-1 {
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
}

@each $bp-name, $bp-size in $breakpoints {
  @each $blur-name, $blur-value in $blur-values {
    @media (min-width: $bp-size) {
      .#{$bp-name}blur-#{$blur-name} {
        filter: blur($blur-value);
      }
    }
  }
}
